body  {
	
	background-position:center;
	background-position:fixed;
	background-repeat:no-repeat;
	background-size:cover;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 90%;
	height:800px;
	background-color: white;
	margin: 0 auto; 
	padding: 0;
	border: 3px solid black;
	box-shadow: 0 9px 18px 9px;
	
}
header { 
  border-bottom:3px solid black; 

} 
header h2 {
	font-size: 230%;
	margin: 0;
	padding-left: 35%;
	color:#4CAF50;
}

nav{
	padding-top: 5px;	
	
}

#table{
   
    background-color:#707070   ;
    opacity: 0.7;
    color: white;
    width: 500px;
    margin:15px;
    padding: 25px;
	

}
th,td {
  border : 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

p  {
    border-style: solid;
   
}
#para{
	float:right;
    background-color: rgba(0, 0, 0, 0.701961);
	width:200px;
    color: white;
	position:fixed;
	right:0;
	top:0;
	
	margin-top:20px;
    font-weight:bold;
    font-size: 15px;
	font-family:HelveticaNeue-Light,,HelveticaNeue,helvetica,arial,sans-serif;
	-ms-transform: rotate(9deg); /* IE 9 */
    -webkit-transform: rotate(9deg); /* Chrome, Safari, Opera */
    transform: rotate(9deg);
	padding: 15px; 
	
	} 
#container{
	
    
	width: 35%;
	height: 400px;
	
}
#pie{
	
	width: 40%;
	height: 400px;
	
	
	
}
#city{

    background: #333;
    color: #ccc;
    width: 200px;
    box-shadow: 0 1px 0 #ccc ;
	margin-left:480px;
	padding:10px; 
	font-size:15px;
	font-weight:bold; 
	border-radius: 10%;
	
}




.weatherbutton{
    background-color: #4CAF50; /* Green */
    border: black;
    color: white;
    padding: 10px;
	border-radius: 10%;
	font-weight:bold;
	font-size: 15px;
  -moz-border-radius: 50px;
 -webkit-border-radius: 50px;
}
aside  {
	float:left;
	margin-top:5px;
	padding: 20px;
	margin:auto;
	

	
	
}
section{
	float:right;
	margin-top:180;
	margin:auto;
	padding: 20px;
}

	
/* Footer */
footer { 
	position:absolute;
	position:fixed;
	bottom:0;
	width:90%;
	height:6%;   /* Height of the footer */
	clear:both;
	
} 
footer p {
	background-color: black;
	color: white;
	font-size: 100%;
	font-weight:bold;
	text-align: center;
}